.product_wrapper {
    border: 2px solid black;
    margin: 2px;
}
.product_wrapper img {
    position: center;
    width: 100px;
    height: 100px;
}
.code {
    text-align: center;
    font-size: 9px;
    font-weight: normal;
}

body {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

{
    background-color: linen;
}

h1 {
    background-color: #80ced6;
}

div {
    background-color: #d5f4e6;
}

span {
    background-color: #f18973;
}

body {
    background-color: silver;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

section {
    background-color: salmon;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}